<div id="home-page" class="page-container container">
  <div class="jumbotron">
    <h1 class="display-3">Welcome to CashBackHack!</h1>
    <p class="lead">Sign in with your google email account to see targeted deals.</p>
    <hr class="my-4">
    <p>We'll find online stores you shop at frequently and show you coupons, cash back and other deals for the sites you shop at most.</p>
    <p class="lead">
      <a [href]="getOAuthUrl()" role="button"><img src="assets/google-signin/btn_google_signin_dark_normal_web.png" title="Sign In" alt="Sign In"></a>
    </p>
  </div>
</div>
